---
layout: unrestricted
permalink: /edit/
---             
<style>
	label{width:100%;}
	input{width:100%;}
	.panel-default{max-width: 450px; margin:auto;}
	#update-skills{
		display: none;
	}

	.oddpanel, .evenpanel{
		width: 49%;
		display: inline-block;
	}
	.oddpanel:after, .evenpanel:after {
		content: '';
		display: block;
		clear: both;
	}
	.oddpanel{
		float:right;
	}
	.evenpanel{
		float:left;
	}
</style>          
<br>
<h1 style="text-align:center">edit profile</h1><br>

{% assign skillNames = site.data.skills.names %} 
{% assign groups = site.data.skills.groups %}
 
<div id="content">
<div class="row"> 
<div class="col-md-3 col-md-offset-3">
{% for g in groups %}
{% assign gid = forloop.index %}
<div>
<div class="panel b-a" id="skills">
      <div class="panel-heading b-b">
        
        <button class="btn btn-clear pull-right" data-toggle="button" >
          <span class="text" data-toggle="collapse" data-target="#skills-{{g | remove: " " | remove: "&" | remove: "," | remove: "."}}">
            <i class="fa fa-chevron-right rotate90"></i> 
          </span>
          <span class="text-active" data-toggle="collapse" data-target="#skills-{{g | remove: " " | remove: "&" | remove: "," | remove: "."}}">
            <i class="fa fa-chevron-right "></i>
          </span>
        </button>
        <button class="btn btn-clear pull-right secondary-drop-button">
          <i class="fa fa-plus pull-right"></i>
        </button>
        
        <a href="#" id="skillsheader" class="font-bold">{{g}}</a>
        
      </div>

        <ul id="skills-{{g | remove: " " | remove: "&" | remove: "," | remove: "."}}" class="collapse in list-group no-radius skills-list-ul">
        <li class="list-group-item skilltypehead"><input type="text" class="form-control" id="typehead{{gid}}" placeholder="add skill"></li>

       
        </ul>
  </div>
</div>

<script type="text/template" id="skillItem">
	<li class="list-group-item">
            <%= name%>
            <span style="display:none;"> <%= rank %>/10</span>
            
            <input class="slider slider-horizontal form-control" 
				type="text" 
				value="" 
				data-slider-skill="<%= id %>"
				data-slider-min="0" 
				data-slider-max="10" 
				data-slider-step="1" 
				data-slider-value="<%= rank %>" 
				data-slider-orientation="horizontal">

            <div class="row scale">
              <div class="col-sm-4 col-xs-6">low skill</div>
              <div class="col-xs-4 hidden-xs" style="text-align:center">medium</div>
              <div class="col-sm-4 col-xs-6" style="text-align:right">high skill</div>
            </div>
          </li>
</script>


  
 {% endfor %}
 
 </div>
 <div class="col-md-3">
 	<form role="form" onsubmit="createAccount(); return false;">

		<div class="form-group">
			<label for="fname">first name</label> <br>
			<input class="form-control" type="text" id="fname" name="fname" value="">
		</div> 

		<div class="form-group">
			<label for="lname">last name</label> <br>
			<input class="form-control" type="text" id="lname" name="lname" value="">
		</div>  

		<div class="form-group">
			<label for="email">email</label> <br>
			<input class="form-control" type="email" id="email" name="email" value="">
		</div> 
	</form>
	<br>
	<input type="submit" value="save profile" class="btn btn-lg" onclick="saveProfile()">
</div>


</div>
</div>

<script>
getskills = function(){
	UserApp.User.get({}, function(error, result){ 
		if(!error){
			var userskills = JSON.parse(result[0].properties.user_skills.value);
			for (var i = userskills.length - 1; i >= 0; i--) {
				var sName = skillsList[userskills[i].id];
				var sGroup = groupBySkill[(userskills[i].id)] -1;
				var sGroupName = groups[sGroup];
				var data = {
					name: sName, 
					rank: userskills[i].rank,
					id: userskills[i].id,
				};

				skillsListEls = $(".skills-list-ul");
				skillTemplate = _.template($('#skillItem').html());
				
				$(skillsListEls[sGroup]).append(skillTemplate(data));


				console.log(sName, sGroup, sGroupName);
			};
			var sliders = $(".slider");
			for (var i = sliders.length - 1; i >= 0; i--) {
				$(sliders[i]).slider();
			};
		}
	});
}

getAdditionalUserInformation = function(){
	UserApp.User.get({}, function(error, result){
		if(!error){
			$("#login").val(result[0].login);
			$("#fname").val(result[0].first_name);
			$("#lname").val(result[0].last_name);
			$("#email").val(result[0].email);

		}
	})
}




saveProfile = function(){
	data = $('form').serializeArray();

	var sliders = $("[data-slider-skill]");
	skillbank = [];
	for (var i = sliders.length - 1; i >= 0; i--) {
		skill = {}
		skill.rank = $(sliders[i]).val() == "" ? $($("[data-slider-skill]")[i]).attr("data-slider-value") : $(sliders[i]).val() ;
		skill.id = $(sliders[i]).attr("data-slider-skill");
		skillbank.push(skill);
	};

	console.log(JSON.stringify(skillbank));

	// save to user
	UserApp.User.get({}, function(error, result){ 
	if(!error){
		setCookie("account_type", "hr");
		UserApp.User.save({
			"user_id": result[0].user_id,
			"first_name" : data[0].value,
			"last_name": data[1].value,
			"email" : data[2].value,
		    "properties": {
			        "user_type": {
			            "value": "hr",
			            "override": true
			        },
			        "user_skills": {
			            "value": JSON.stringify(skillbank),
			            "override": true
			        },
			    }
		}, function (error, result){
			if(!error){
				alert('saved profile');
			}
		});
	}
	});
	
}

	$(function(){

		getskills();
		getAdditionalUserInformation();

		$(".fa-plus").click(function(ev){
			// console.log('foo');
		      $(ev.target).parent().parent().parent().find(".skilltypehead").toggle();
		      // console.log($(ev.target).parent().parent().parent().find(".skilltypehead"));
		      $('[id^="typehead"], [id*=" typehead"]').val("");
		      // $(".skilltypehead").parent.parend.toggle();
		});

		selectSkill = function(){
			$(".tt-dropdown-menu").click(function(ev){
				var thisList = $(ev.target).parent().parent().parent().parent().parent().parent().parent();
				var typehead = thisList.find('[id^="typehead"], [id*=" typehead"]');
				var skill = typehead.val();
				var index = skillsList.indexOf(skill);
				if(!requiredSkills[index]){
				var index = skillsList.indexOf(skill);
				console.log(index);
				requiredSkills[index] = true;

				var slider = '<input class="slider slider-horizontal form-control" type="text" value="" data-slider-skill="'+index+'"data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal">';
				var scale ='<div class="row scale"><div class="col-sm-4 col-xs-6">low skill</div><div class="col-xs-4 hidden-xs" style="text-align:center">medium</div><div class="col-sm-4 col-xs-6" style="text-align:right">high skill</div></div>';

				var html = "<li class='list-group-item'>"+skill+slider+scale+"</li>";
				thisList.append(html);
				$("[data-slider-skill="+index+"]").slider().on('slideStop', function(ev){
				  sliderUpdate(ev);
				});
				}
				thisList.find(".skilltypehead").toggle();
			});
		}

		window.setTimeout(selectSkill, 100);	

		// $(".skilltypehead").attr("style", "display: block !important;");
	});


</script>

<script src="/assets/js/verify.js"></script>



