---
layout: basic
skillsid: 0
---

{% assign table = site.data.table['employees'].fields %}
{% assign tabledata = site.categories['employees'] %}


	<br><br>
  	<div id="list-filter">
	  <div class="row">
		  <section class="col-md-4 col-lg-3">
		  	<div class="panel b-a" class="">
			  	{% include searchbar.html %}
			  	{% include catagories.html %}
			</div>
			{% include skills.html %}
		  </section>
		  <section class="col-md-8 col-lg-9">
		  	<div class="panel-default panel">
			  	<header class="panel-heading" style="background:white">
			  		<div class="row">
			  			<div class="col-xs-4" style="line-height:30px;">
			  				Results ({{tabledata.size}})
			  			</div>
			  			<div class="col-xs-8">
			  				<div class="pull-right">
					    	<select class="input-sm form-control input-s-sm inline v-middle">
						      <option value="0">Bulk action</option>
						      <option value="1">Send update request</option>
						      <option value="2">Compare</option>
						      <option value="3">Add to my contacts</option>
						    </select>
						    <button class="btn btn-sm btn-default">Apply</button> 
			  			</div>
			  		</div>
			  	</header>
			  	<div class="table-responsive">
			  		<table class="table table-striped b-t b-light">
				    <!-- IMPORTANT, class="list" have to be at tbody -->
				    <thead>
				    	<tr>
				    		{% for field in table %}
						        <th data-sort="{{field}}" class="th-sortable sort {% if field == "pay grade" %} manager-only {% endif %}" data-toggle="class">
						          {{ field }}
						          <span class="th-sort">
						            <i class="fa fa-sort-down text"></i>
						            <i class="fa fa-sort-up text-active"></i>
						            <i class="fa fa-sort"></i>
						          </span>
						        </th>
					        {% endfor %}
					        <th  width=30><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox"><i></i></label></th>
				    	</tr>
				    </thead>
				    <tbody class="list">
				    	{%for post in tabledata%}
				    	<tr class="internal-{{post.internal}} entry">
				    		<td class="applicantId" style="display:none;">{{forloop.index}}</td>
				      		{% for field in table %}
				      			<td class="{{field}} {% if field == "pay grade" %} manager-only {% endif %}" >   
							    {%case field%}
							    	{% when "name" %}
							    		<a href="{{ post.url }}">
					                      <img src="/assets/images/a0.png" alt="...">
					                      <span>{{ post.title }}</span>
					                    </a>
							    	{% when "jobtitle" %}
							    		<a href="{{ post.url }}">
					                      <span>{{ post.jobtitle }}</span>
					                    </a>
					                {% when "applicants" %}
					                	<a href="{{ post.url }}">
					                      <span>{{ post.Applicants.size }}</span>
					                    </a>
					                {% when "availability" or "skillMatch" %}
					                	<div class="progress progress-xs m-t-xs m-b-none {{field}}">
					                      <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="{{post[field]}}%" style="width: {{post[field]}}%"></div>
					                    </div>
							    	{% else %}
										{{post[field]}}
							    {%endcase%}
							    </td>
							{% endfor %}
							<th  width=30><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox"><i></i></label></th>
						</tr>
						<script>
							{% assign skills = site.data.skills.skillsets[post.skillsid] %}
							{% assign applicantId = forloop.index %}
							skillProfiles[{{forloop.index}}] = [];
							{%for skill in skills%}
								skillProfiles[{{applicantId}}][{{skill.id}}] = {{skill.rank}};
							{% endfor %}
						</script>
					 	{% endfor %}
				    </tbody>
				  </table>
			  	</div>
			  	<footer class="panel-footer">
  <div class="row">
    <div class="col-xs-4 col-sm-6">
      <small class="text-muted inline m-t-sm m-b-sm">showing 20-30 of 50 items</small>
    </div>
    <div class="col-xs-8 col-sm-6 text-right text-center-xs">                
      <ul class="pagination pagination-sm m-t-none m-b-none pull-right">
        <li><a href="#"><i class="fa fa-chevron-left"></i></a></li>
        <li><a href="#">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#"><i class="fa fa-chevron-right"></i></a></li>
      </ul>
    </div>
  </div>
</footer>
		  	</div>

		  </section>
	  </div>
	</div>
	<script src="http://listjs.com/no-cdn/list.js"></script>
	<script>
		var options = {
		  valueNames: [ 
		  	'applicantId',
			{% for field in table %}
				'{{field}}',
			{%endfor%} 
		  ]
		};

		var userList = new List('list-filter', options);
	</script>