<div class="panel-heading b-b" style="display:none;">
  <button class="btn btn-clear pull-right" data-toggle="button" >
    <span class="text" data-toggle="collapse" data-target="#groups">
      <i class="fa fa-chevron-right rotate90"></i> 
    </span>
    <span class="text-active" data-toggle="collapse" data-target="#groups">
      <i class="fa fa-chevron-right "></i>
    </span>
    </button>
  <a href="#" class="font-bold">Groups</a>
  
</div>
<ul id="groups" class="list-group no-radius" style="display:none;">
	<li class="list-group-item not-employee">
    <div class="checkbox i-checks ">
      <label>
        <input type="checkbox" checked="" value="" id="applicants">
        <i></i>
        Applicants
      </label>
    </div>
	</li>
	<li class="list-group-item">
		<div class="checkbox i-checks">
      <label>
        <input type="checkbox" checked="" value="" id="employees">
        <i></i>
        Employees
      </label>
    </div>
	</li>
</ul>