<section class="panel panel-default">
  <header class="panel-heading font-bold">Horizontal form</header>
  <div class="panel-body">
    <form class="bs-example form-horizontal">
      <div class="form-group">
        <label class="col-lg-2 control-label">Email</label>
        <div class="col-lg-10">
          <input type="email" class="form-control" placeholder="Email">
        </div>
      </div>
      <div class="form-group">
        <label class="col-lg-2 control-label">Password</label>
        <div class="col-lg-10">
          <input type="password" class="form-control" placeholder="Password">
        </div>
      </div>
      <div class="form-group">
        <div class="col-lg-offset-2 col-lg-10">
          <button type="submit" class="btn btn-sm btn-default">Sign in</button>
        </div>
      </div>
    </form>
  </div>
</section>