<section class="panel panel-default">
  <header class="panel-heading font-bold">Job history</header>
  <div class="panel-body">

<div class="timeline">
  <article class="timeline-item">
      <div class="timeline-caption">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow left"></span>
            <span class="timeline-icon"><i class="fa fa-phone time-icon bg-primary"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">Call to</div>
            <h5>                                
              Jason Cokde (021-254-3523)
            </h5>
          </div>       
        </div>
      </div>
  </article>
  <article class="timeline-item alt">
      <div class="timeline-caption">                
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow right"></span>
            <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">Appointment</div>
            <h5>                                
              Carmark Sook (.inc company)
            </h5>
            <p>Morbi nec nunc condimentum, egestas dui nec, </p>
          </div>
        </div>
      </div>
  </article>          
  <article class="timeline-item">
      <div class="timeline-caption">                
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow left"></span>
            <span class="timeline-icon"><i class="fa fa-plane time-icon bg-dark"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">Fly to</div>
            <h5>                                
              Newyork City
            </h5>
            <p>82°, Very hot with some sun</p>
          </div>
        </div>
      </div>
  </article>
  <article class="timeline-item alt">
      <div class="timeline-caption">                
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow right"></span>
            <span class="timeline-icon"><i class="fa fa-file-text time-icon bg-info"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">Meeting</div>
            <h5>                                
              Office A - 2 floor
            </h5>
            <p>Iaculis lorem justo porttitor orci. Vivamus vestibulum tortor augue. Donec elementum mollis velit.</p>
          </div>
        </div>
      </div>
  </article>
  <article class="timeline-item">
      <div class="timeline-caption">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow left"></span>
            <span class="timeline-icon"><i class="fa fa-code time-icon bg-dark"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">Work on</div>
            <h5>                                
              Web application project
            </h5>
            <p>Iaculis lorem justo porttitor orci. Donec elementum mollis velit.</p>
          </div>
        </div>
      </div>
  </article>
  <div class="timeline-footer"><a href="#"><i class="fa fa-plus time-icon inline-block bg-dark"></i></a></div>
</div>
</span>
</div>
</div>