<section class="panel panel-default">
  <header class="panel-heading font-bold">
  	Job history
  	<div class="checkbox m-l m-r-xs pull-right" style="position:relative; top:-1rem; right:-1rem;" >
      <label class="i-checks">
        <span style="padding-right:3rem;">Include in application: </span> <input type="checkbox"><i></i> 
      </label>
    </div>
  </header>
  <div class="panel-body">

<div class="timeline">
  <article class="timeline-item">
      <div class="timeline-caption">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow left"></span>
            <span class="timeline-icon"><i class="fa fa-phone time-icon bg-primary"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">CTO at</div>
            <h5>                                
              Teleric Communications
            </h5>
          </div>       
        </div>
      </div>
  </article>
  <article class="timeline-item alt">
      <div class="timeline-caption">                
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow right"></span>
            <span class="timeline-icon"><i class="fa fa-male time-icon bg-success"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">manager at</div>
            <h5>                                
              Tech buisness solutions
            </h5>
            <p>Increased team efficiency by 10%</p>
          </div>
        </div>
      </div>
  </article>          
  <article class="timeline-item">
      <div class="timeline-caption">
        <div class="panel panel-default">
          <div class="panel-body">
            <span class="arrow left"></span>
            <span class="timeline-icon"><i class="fa fa-code time-icon bg-dark"></i></span>
            <span class="timeline-date">1/1/11</span>
            <div class="text-sm">Web developer at</div>
            <h5>                                
              Web application project
            </h5>
            <p>Iaculis lorem justo porttitor orci. Donec elementum mollis velit.</p>
          </div>
        </div>
      </div>
  </article>
  <div class="timeline-footer"><a href="#"><i class="fa fa-plus time-icon inline-block bg-dark"></i></a></div>
</div>
</div>
</section>