<ul class="nav nav-main" data-ride="collapse">
    <li>
      <a href="/" class="auto">
        <i class="i i-statistics icon">
        </i>
        <span class="font-bold">Overview</span>
      </a>
    </li>
    <li>
      <span class="pull-right text-muted add" onclick="window.location.href = '/employees/new';">
        <i class="fa fa-plus"></i>
      </span>
      <a href="/employees/" class="auto">
        <i class="fa fa-users"></i>
        <span class="font-bold">Employees</span>
      </a>
    </li>

    <li>
      <span class="pull-right text-muted add" onclick="window.location.href = '/jobs/new';">
        <i class="fa fa-plus"></i>
      </span>
      <a href="/jobs/" class="auto">
        <i class="i i-grid2 icon"></i>
        <span class="font-bold">Job Listings</span>
      </a>
    </li>

    <li>
      <a href="/contacts" class="auto">
        <i class="fa fa-user icon">
        </i>
        <span class="font-bold">contacts</span>
      </a>
    </li>

    <!-- <li>
      <a href="#" class="auto">
        <i class="i i-docs icon"></i>
        <span class="font-bold">Contacts</span>
      </a>
      <ul class="nav dk">
        <li>
          <a href="/" class="auto">                                                        
            <i class="i i-dot"></i>
            <span>Search</span>
          </a>
        </li>
        <li>
          <a href="/" class="auto">                                                        
            <i class="i i-dot"></i>
            <span>Invoice</span>
          </a>
        </li>    
      </ul>
    </li> -->
  </ul>