<script src="/assets/js/jquery.min.js"></script>
  <!-- Bootstrap -->
  <script src="/assets/js/bootstrap.js"></script>
  <!-- App -->
  <script src="/assets/js/app.js"></script>  
  <script src="/assets/js/datepicker/bootstrap-datepicker.js"></script>
  <!-- slider -->
  <script src="/assets/js/slider/bootstrap-slider.js"></script>
  <!-- file input -->  
  <script src="/assets/js/file-input/bootstrap-filestyle.min.js"></script>
  <!-- wysiwyg -->
  <script src="/assets/js/wysiwyg/jquery.hotkeys.js"></script>
  <script src="/assets/js/wysiwyg/bootstrap-wysiwyg.js"></script>
  <script src="/assets/js/wysiwyg/demo.js"></script>

  <script src="/assets/js/chosen/chosen.jquery.min.js"></script>
  <script src="/assets/js/spinner/jquery.bootstrap-touchspin.min.js"></script>
  <script src="/assets/js/typehead/typeahead.bundle.min.js"></script>
  <script src="/assets/js/typehead/demo.js"></script>
  <script src="/assets/js/app.plugin.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/list.js/1.1.1/list.min.js"></script>
  <script src="/assets/js/cookies.js"></script>
  <script src="/assets/js/roles.js"></script>

  <script>
  $(function(){
    var options = {
      valueNames: [ 'location', 'name' ]
    };

    var userList = new List('sUsers', options);
    });
  </script>
  <script type="text/javascript">
    $(function(){
      $('.no-results').click(function(){ 
        me = $(this);
        console.log(me.html());
      });
    });

  </script>
