
<!-- Bootstrap -->
<script src="/assets/js/bootstrap.js"></script>
<!-- App -->
<script src="/assets/js/app.js"></script>  
<script src="/assets/js/slimscroll/jquery.slimscroll.min.js"></script>
<script src="/assets/js/charts/easypiechart/jquery.easy-pie-chart.js"></script>
<script src="/assets/js/charts/sparkline/jquery.sparkline.min.js"></script>
<script src="/assets/js/charts/flot/jquery.flot.min.js"></script>
<script src="/assets/js/charts/flot/jquery.flot.tooltip.min.js"></script>
<script src="/assets/js/charts/flot/jquery.flot.spline.js"></script>
<script src="/assets/js/charts/flot/jquery.flot.pie.min.js"></script>
<script src="/assets/js/charts/flot/jquery.flot.resize.js"></script>
<script src="/assets/js/charts/flot/jquery.flot.grow.js"></script>
<script src="/assets/js/charts/flot/demo.js"></script>
<!-- slider -->
<script src="/assets/js/slider/bootstrap-slider.js"></script>

<script src="/assets/js/calendar/bootstrap_calendar.js"></script>
<script src="/assets/js/calendar/demo.js"></script>

<script src="/assets/js/app.plugin.js"></script>

<script src="/assets/js/roles.js"></script>

<!-- type head -->
<script src="/assets/js/typehead/typeahead.bundle.min.js"></script>
<script src="/assets/js/typehead/demo.js"></script>

<script>
  $("#groups input[type='checkbox']:checked ").change(function(){
  	var app = $('#applicants:checked').length > 0;
  	var emp = $('#employees:checked').length > 0;
	if(app){
		$(".internal-true").show();
	}else{
		$(".internal-true").hide();
	}
	if(emp){
		$(".internal-false").show();
	}else{
		$(".internal-false").hide();
	}
  });

  $(function(){
    // filter actions
    window.respondtofilteraction = function(){
      if($("#filter-action").val() == 2){
        $('#myModal').modal('toggle');
      }
    }

    window.selectSkill = function(){
      $(".tt-dropdown-menu").click(function(ev){
        var thisList = $(ev.target).parent().parent().parent().parent().parent().parent().parent();
        var typehead = thisList.find('[id^="typehead"], [id*=" typehead"]');
        var skill = typehead.val();
        var index = skillsList.indexOf(skill);
        if(!requiredSkills[index]){
        var index = skillsList.indexOf(skill);
        console.log(index);
        requiredSkills[index] = true;

        var slider = '<input class="slider slider-horizontal form-control" type="text" value="" data-slider-skill="'+index+'"data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal">';
        var scale ='<div class="row scale"><div class="col-sm-4 col-xs-6">low skill</div><div class="col-xs-4 hidden-xs" style="text-align:center">medium</div><div class="col-sm-4 col-xs-6" style="text-align:right">high skill</div></div>';

        var html = "<li class='list-group-item'>"+skill+"<span class='delete-skill'> x</span>"+slider+scale+"</li>";
        thisList.append(html);
        $("[data-slider-skill="+index+"]").slider().on('slideStop', function(ev){
          sliderUpdate(ev);
        });
        }
        thisList.find(".skilltypehead").toggle();
      });
    }
    window.selectSkill();

    //add skill menu
    window.activateAddSkillIcon = function(){
      $(".fa-plus").click(function(ev){
        $(ev.target).parent().parent().parent().find(".skilltypehead").toggle();
        $('[id^="typehead"], [id*="typehead"]').val("");
        $(".skilltypehead").parent.parent.toggle();
      });
    }
    window.activateAddSkillIcon();

  

    // queries employee page for skills information and calls insert after its gathered at most 3 employees from the global compare list
    updateCompareModal = function(){
      c = 0; //limits to 3 records
      d = 0; //keeps it from printing untill last record added
      html = "";
      for (var i = compare.length - 1; i >= 0; i--) {
        if(typeof(compare[i]) != "undefined" && compare[i].constructor === Array && c<3){
          c++;
          index = i;
          $.ajax({
            url: compare[i][1],
            success: function(response) {
              d++
              foo = $(response).find("#employee-skill-profile");
              html += '<div class="col-md-4">' + foo.html() + '</div>';
              if (c==d){
                insertCompareModalHtml(html);
              }
            }
          });
        }
      };
    }


    //changes content of comparison modal window
    insertCompareModalHtml = function(html){
      console.log(html);
      html = '<section class="row">' + html + "</section>";
      $("#myModal .modal-body").html(html);
    }


    // filter check box response
    $(".filter-checkbox").change(function(ev){
      self = $(ev.target);
      self.toggleClass("selected")
      i = self.attr("sid");
      if (self.hasClass("selected")){
        arr = [self.attr("ename"), self.attr("url")];
        compare[i] = arr;
        console.log(compare);
        updateCompareModal();
      }else{
        delete compare[i];
        console.log(compare);
        updateCompareModal();
      }
    });





  	// update required skills based on value of slider
    //
    sliderUpdate = function(ev){
      var value = ev.value;
      var id = ($(ev.target).attr("data-slider-skill"));
      requiredSkills[0] = value;
      $(ev.target).parent().parent().find('span').html(" "+ value + "/10");
      window.sortListBySkill();
      names();
      avails();
      matches();
    }; 
     
  	$("input[data-slider-value]").on('slideStop', function(ev){
      sliderUpdate(ev);
    });


    window.calculateMatch= function(requirements, profile){
      var possiblePoints=0;
      var profilePoints = 0;
      for (var i = requirements.length - 1; i >= 0; i--) {
        if(requirements[i]){
          if (profile[i]){
            if(profile[i]<requirements[i]){
              profilePoints += profile[i];
            }else{
              profilePoints += profile[i] - (profile[i]-requirements[i]);
            }
          }
          possiblePoints += requirements[i];
          // console.log(profilePoints, possiblePoints);
        }
      }
      // console.log(requirements, possiblePoints);
      // console.log("profile", profile, profilePoints);
      // console.log(possiblePoints - profilePoints, possiblePoints);
      // console.log(requirements);
      // console.log(Math.floor(((profilePoints)/possiblePoints)*100));
      return Math.floor(((profilePoints)/possiblePoints)*100 || 0);
    }
    // window.calculateMatch();

  	// calculate skill value

    window.sortListBySkill = function(){ 
    	for (var i = window.userList.size()-1; i >= 0; i--) {
        var values = window.userList.items[i].values();
        if(values.applicantId+1){
            console.log(values.name, skillProfiles[values.applicantId]);
            // console.log(requiredSkills);
            var skillMatch = window.calculateMatch(window.requiredSkills, window.skillProfiles[values.applicantId]);
            // console.log(skillMatch);
            values.skillMatch = '<div class="progress progress-xs m-t-xs m-b-none skillMatch"><div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="'+skillMatch+'%" style="width:'+skillMatch+'%"></div></div>';
            window.userList.items[i].values({skillMatch: skillMatch});
        }
      }
      window.userList.sort('skillMatch', { order: "desc" });
    }
    window.sortListBySkill();
    $(".skilltypehead").toggle();

    // window.toggleSkillPanel = function(el){
    //   $(el).parent().parent().find("ul").toggle();
    // };
    // 
    
  

    


    //add skills
    
    // $(".tt-dropdown-menu").click(function(ev){
    //   console.log(ev);
    //   var thisList = $(ev.target).parent().parent().parent().parent().parent().parent().parent();
    //   var typehead = thisList.find('[id^="typehead"], [id*=" typehead"]');
    //   var skill = typehead.val();
    //   var index = skillsList.indexOf(skill);
    //   if(!requiredSkills[index]){
    //     var index = skillsList.indexOf(skill);
    //     console.log(index);
    //     var slider = '<input class="slider slider-horizontal form-control" type="text" value="" data-slider-skill="'+index+'"data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="0" data-slider-orientation="horizontal">';
    //     var scale ='<div class="row scale"><div class="col-sm-4 col-xs-6">low skill</div><div class="col-xs-4 hidden-xs" style="text-align:center">medium</div><div class="col-sm-4 col-xs-6" style="text-align:right">high skill</div></div>';

    //     var html = "<li class='list-group-item'>"+skill+slider+scale+"</li>";
    //     thisList.append(html);
    //     $("[data-slider-skill="+index+"]").slider().on('slideStop', function(ev){
    //       sliderUpdate(ev);
    //     });
    //   }
    //   thisList.find(".skilltypehead").toggle();
    // });
  });

  
</script>