<div class="slider slider-horizontal">
	<div class="slider-track">
	  <div class="slider-selection" style="left: 0%; width: 33.3333333333333%;"></div>
	  <div class="slider-handle round" tabindex="0" style="left: 33.3333333333333%;"></div>
	  <div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div>
	</div>
	<div id="tooltip" class="tooltip top" style="top: -30px; left: 55px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">10</div></div>
	<div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>
	<div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div>
	<input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="5" data-slider-max="20" data-slider-step="1" data-slider-value="10" data-slider-orientation="horizontal" style="display: none;">
</div>