{% if site.categories[page.title].size %}
  {% assign table = site.data.table[page.title].fields %} 
  {% assign tabledata = site.categories[page.title]%}
  {% assign all = true %}
{%else%}
  {% assign table = site.data.table['employees'].fields %}
  {% assign tabledata = site.categories['employees'] %}
  {% assign all = false %}
{%endif %}
<div id="list-filter">
<div class="table-responsive">
  <table class="table table-striped b-t b-light">
    <thead>
      <tr>
        {% for field in table %}
          <th data-sort="{{field}}" class="th-sortable sort {% if field == "pay grade" %} manager-only {% endif %}" data-toggle="class">
          {{ field }}
          <span class="th-sort">
            <i class="fa fa-sort-down text"></i>
            <i class="fa fa-sort-up text-active"></i>
            <i class="fa fa-sort"></i>
          </span>
        </th>
        {% endfor %}
        <th  width=30><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox"><i></i></label></th>
      </tr> 
    </thead>
    <tbody class="list">
      <tr>
      {% for post in tabledata %}
        {% for field in table %} 
          {% if all or page.Applicants contains post.ApplicantId %}
              <td class="{{field}} {% if field == "pay grade" %} manager-only {% endif %}" >  
                {% if field == "jobtitle" %}
                    <a href="{{ post.url }}">
                      <span>{{ post.jobtitle }}</span>
                    </a>
                {% elsif field == "name" %}
                    <a href="{{ post.url }}">
                      <img src="/assets/images/a0.png" alt="...">
                      <span>{{ post.title }}</span>
                    </a>
                {% elsif field == "applicants" %}
                    <a href="{{ post.url }}">
                      <span>{{ post.Applicants.size }}</span>
                    </a>
                {% elsif field == "skillMatch" or field == "availability"%}
                    <div class="progress progress-xs m-t-xs m-b-none {{field}}">
                      <div class="progress-bar bg-info" data-toggle="tooltip" data-original-title="{{post[field]}}%" style="width: {{post[field]}}%"></div>
                    </div>
                {% elsif field == "pay grade" and post.manage == false %}
                  manager only
                {% else %}
                  {{post[field]}}
                </td>
              {% endif %}
          {%endif%}
        {% endfor %}
        {% if all or post.ApplicantId == 0 %} <td><label class="checkbox m-l m-t-none m-b-none i-checks"><input type="checkbox" name="post[]"><i></i></label></td> {% endif %}
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>
</div>
<script>
        var options = {
          valueNames: [ 'name', 'born' ]
        };

        var userList = new List('list-filter', options);
      </script>