---
layout: default
---

<section class="row">
<div class="col-md-10 col-lg-8" style="margin:auto; float:none;">
  <br>
  <h1>New Job</h1>
  <a href="/jobs/completed" for="filestyle-0" class="btn btn-s-md btn-primary header-button" >Upload Job Description</a>
  <br/> <br>

  <section class="panel panel-default">
  <header class="panel-heading font-bold">
    Basic information
  </header>

  <div class="panel-body">
    <form class="bs-example form-horizontal">
      {% include chosenjob.html %}
      <div class="form-group">
        <label class="col-lg-2 control-label">Description</label>
        {% include filledwysiwyg.html %}
      </div>
      {%include chosenplace.html %}

    </form>
  </div>
  </section>

  <br>

  <section class="row">
    <div class="col-md-6">
          <div class="panel b-a">
              <div class="panel-heading b-b">
              <button class="btn btn-clear pull-right" data-toggle="button">
                <span class="text" data-toggle="collapse" data-target="#skills">
                  <i class="fa fa-chevron-right rotate90"></i> 
                </span>
                <span class="text-active" data-toggle="collapse" data-target="#skills">
                  <i class="fa fa-chevron-right "></i>
                </span>
                </button>
              <a href="#" class="font-bold">Core Skills</a>
              </div>
              <ul id="skills" class="collapse in list-group no-radius"> 
              <li class="list-group-item">Math
              <br><div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 20%;"></div><div class="slider-handle round" tabindex="0" style="left: 20%;"></div><div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: 53.9px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">2</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" style="display: none;"></div>


              </li>
              <li class="list-group-item">trout fishing
              <br><div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 30%;"></div><div class="slider-handle round" tabindex="0" style="left: 30%;"></div><div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: 87.1px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">3</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" style="display: none;"></div>
              </li>
              <li class="list-group-item">trout fishing
              <br><div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 0%;"></div><div class="slider-handle round" tabindex="0" style="left: 0%;"></div><div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: -11.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" style="display: none;"></div>
              </li>
              </ul>
          </div>
        </div>
    <div class="col-md-6">
          <div class="panel b-a">
              <div class="panel-heading b-b">
              <button class="btn btn-clear pull-right" data-toggle="button">
                <span class="text" data-toggle="collapse" data-target="#skills2">
                  <i class="fa fa-chevron-right rotate90"></i> 
                </span>
                <span class="text-active" data-toggle="collapse" data-target="#skills2">
                  <i class="fa fa-chevron-right "></i>
                </span>
                </button>
              <a href="#" class="font-bold">Additional skills</a>
              </div>
              <ul id="skills2" class="collapse in list-group no-radius"> 
              <li class="list-group-item">Math
              <br><div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 0%;"></div><div class="slider-handle round" tabindex="0" style="left: 0%;"></div><div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: -11.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" style="display: none;"></div>


              </li>
              <li class="list-group-item">trout fishing
              <br><div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 0%;"></div><div class="slider-handle round" tabindex="0" style="left: 0%;"></div><div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: -11.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" style="display: none;"></div>
              </li>
              <li class="list-group-item">trout fishing
              <br><div class="slider slider-horizontal"><div class="slider-track"><div class="slider-selection" style="left: 0%; width: 0%;"></div><div class="slider-handle round" tabindex="0" style="left: 0%;"></div><div class="slider-handle round hide" tabindex="0" style="left: 0%;"></div></div><div id="tooltip" class="tooltip top" style="top: -30px; left: -11.5px;"><div class="tooltip-arrow"></div><div class="tooltip-inner">0</div></div><div id="tooltip_min" class="tooltip top" style="top: -30px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><div id="tooltip_max" class="tooltip bottom" style="top: 18px;"><div class="tooltip-arrow"></div><div class="tooltip-inner"></div></div><input class="slider slider-horizontal form-control" type="text" value="" data-slider-min="0" data-slider-max="10" data-slider-step="1" data-slider-value="" data-slider-orientation="horizontal" style="display: none;"></div>
              </li>
              </ul>
          </div>
        </div>
  </section>
  
  <br>

  <section class="panel panel-default not-manager">
  <header class="panel-heading font-bold">
    Post to job boards
  </header>

    <div class="panel-body">
    <br>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              dyscoverWine.com ($50)
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              Monster.com ($359)
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option2"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              Glassdoor ($99)
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option3"><i></i>
              </label>
            </div>
        </div>
      </div>
    </div>
  </section>
  <div class="row">
      <div class="col-md-6">
        <div class="checkbox i-checks">
          <label>
            <input type="checkbox" checked="" disabled=""><i></i> <b>Post to company intranet</b>
          </label>
        </div>
      </div>
  </div>

<br><br>
<a href="#" for="filestyle-0" class="btn btn-s-md btn-primary" >Save</a> <a href="/credit" for="filestyle-0" class="btn btn-s-md btn-primary" >Publish</a>
<span style="float:right"><b style="display:inline-block; padding-right:2rem;">permalink:</b> <input style="display:inline-block; width:250px;" type="text" value="http:yoursite.com/jobs/jobName" class="form-control"></span>

<br><br><br>

</div>






</section>




