---
layout: default
---

<section class="row">
<div class="col-md-10 col-lg-8" style="margin:auto; float:none;">
  <br>
  <h1>Edit Job</h1>
  <a href="#" for="filestyle-0" class="btn btn-s-md btn-primary header-button" >Upload Job Description</a>
  <br/> <br>

  <section class="panel panel-default">
  <header class="panel-heading font-bold">
    Basic information
  </header>

  <div class="panel-body">
    <form class="bs-example form-horizontal">
      {% include chosenjob.html %}
      <div class="form-group">
        <label class="col-lg-2 control-label">Description</label>
        {% include wysiwyg.html %}
      </div>
      {%include chosenplace.html %}

    </form>
  </div>
  </section>

  <br>

  <section class="row">
    <div class="col-md-6">
      <div class="panel b-a">
          <div class="panel-heading b-b">
          <button class="btn btn-clear pull-right" data-toggle="button">
            <span class="text" data-toggle="collapse" data-target="#skills">
              <i class="fa fa-chevron-right rotate90"></i> 
            </span>
            <span class="text-active" data-toggle="collapse" data-target="#skills">
              <i class="fa fa-chevron-right "></i>
            </span>
            </button>
          <a href="#" class="font-bold">Core Skills</a>
          </div>
          <ul id="skills" class="collapse in list-group no-radius"> 
          <li class="list-group-item">Math
          <input type="range">
          </li>
          <li class="list-group-item">trout fishing
          <input type="range">
          </li>
          </ul>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel b-a">
          <div class="panel-heading b-b">
          <button class="btn btn-clear pull-right" data-toggle="button">
            <span class="text" data-toggle="collapse" data-target="#skills2">
              <i class="fa fa-chevron-right rotate90"></i> 
            </span>
            <span class="text-active" data-toggle="collapse" data-target="#skills2">
              <i class="fa fa-chevron-right "></i>
            </span>
            </button>
          <a href="#" class="font-bold">Additional skills</a>
          </div>
          <ul id="skills2" class="collapse in list-group no-radius"> 
          <li class="list-group-item">Math
          <input type="range">
          </li>
          <li class="list-group-item">trout fishing
          <input type="range">
          </li>
          </ul>
      </div>
    </div>
  </section>
  
  <br>

  <section class="panel panel-default">
  <header class="panel-heading font-bold">
    Post to job boards
  </header>

    <div class="panel-body">
    <br>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              board  
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              board 
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              board 
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              board 
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              board 
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="panel b-a">
            <div class="panel-heading b-b">
              board
              <label class="checkbox-inline i-checks pull-right">
                <input type="checkbox" id="inlineCheckbox1" value="option1"><i></i>
              </label>
            </div>
        </div>
      </div>
    </div>
  </section>

<a href="#" for="filestyle-0" class="btn btn-s-md btn-primary" >Save</a> <a href="#" for="filestyle-0" class="btn btn-s-md btn-primary" >Publish</a>
<br><br><br>

</div>






</section>




