---
layout: default
---

<section class="row">
<div class="col-md-10 col-lg-8" style="margin:auto; float:none;">
  <h1>New Job</h1>
  <a href="#" for="filestyle-0" class="btn btn-s-md btn-primary header-button" >Upload Job Description</a>
  <br/> <br>

  <section class="panel panel-default">
  <header class="panel-heading font-bold">
    Basic information
  </header>

  <div class="panel-body">
    <form class="bs-example form-horizontal">
      {% include chosenjob.html %}
      <div class="form-group">
        <label class="col-lg-2 control-label">Description</label>
        {% include wysiwyg.html %}
      </div>
      {%include chosenplace.html %}

    </form>
    
  </div>
</section>

</div>




</section>




