<!DOCTYPE html>
<html lang="en" class="app" >
{% include head.html %}

  <body style="display:none !important;" class="restricted">
  <section class="vbox">
    {% include header.html %}

    <section class="scrollable ">
      <section class="">
        <!-- .aside -->
        <!-- /.aside -->
        {{ content }}

      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
  </section>

  {% include postLoadedAssets.html %}
  </body>

</html>
