<!DOCTYPE html>
<html lang="en" class="app">
{% include head.html %}

  <body>
  <section class="vbox">
    {% include header.html %}


    <section>
      <section class="hbox stretch">
        <!-- .aside -->
        {% include nav.html %} 
        <!-- /.aside -->
        <section id="content">
          <section class="hbox stretch">
            <section>
              <section class="vbox">
                <section class="scrollable padder">
                  
                  <section class="row m-b-md">
                    <!-- <div class="col-sm-6">
                      <h3 class="m-b-xs text-black">      {{ page.title }}
                      </h3>
                    </div> -->
                  </section>
                  
                  {{ content }}

                </section>
              </section> 
            </section>
          </section>
        </section>

        {% include footer.html %} 

      </section>
      <a href="#" class="hide nav-off-screen-block" data-toggle="class:nav-off-screen,open" data-target="#nav,html"></a>
    </section>
  </section>
  {% include postLoadedAssetsOld.html %}
  </body>

</html>
